body {
    font-family: 'Monaco', monospace;
    font-size: 10pt;
    background-color: #272822;
    color: #F8F8F2;
    margin: auto;
    width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

a, a:link, a:visited {
    color: rgb(250,200,100);
}
a:active, a:hover {
    text-decoration: none;
}

ul {
    padding-left: 20px;
}
li {
    list-style: square;
}

pre {
    background: rgb(150, 150, 150);
    color: black;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
}
code {
    font-family: 'Droid Sans Mono', monospace;
    font-size: 12px;
}
